# GitHub OAuth App credentials for Decap CMS admin
# Create an OAuth App at https://github.com/settings/applications/new
# Authorization callback URL must be: https://blog.linwayne.dpdns.org/oauth/callback
OAUTH_GITHUB_CLIENT_ID=
OAUTH_GITHUB_CLIENT_SECRET=

# Optional: Decap CMS version / source URL
# PUBLIC_DECAP_CMS_SRC_URL=https://unpkg.com/decap-cms@^3/dist/decap-cms.js
# PUBLIC_DECAP_CMS_VERSION=3
